<!-- 
<h2>Car Details</h2>
<table>
  <tr>
    <td>
      <h4><label><b>Bus Type:&nbsp;&nbsp;</b></label></h4>
    </td>
    <td><input type="text" class="form-control" value="{{bus.BusType}}" name="BusType" readonly></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
      <h4><label><b>Bus No:&nbsp;&nbsp;</b></label></h4>
    </td>
    <td><input type="text" class="form-control" value="{{bus.BusRegNo}}" name="BusRegNo" readonly></td>
  </tr>
  <tr>
    <td>
      <h4><label><b>From:&nbsp;&nbsp;</b></label></h4>
    </td>
    <td><input type="text" class="form-control" value="{{bus.FromId}}" name="FromId" readonly></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
      <h4><label><b>To:&nbsp;&nbsp;</b></label></h4>
    </td>
    <td><input type="text" class="form-control" value="{{bus.ToId}}" name="ToId" readonly></td>
  </tr>
  <tr>
    <td>
      <h4><label><b>Arrival Time:&nbsp;&nbsp;</b></label></h4>
    </td>
    <td><input type="text" class="form-control" value="{{bus.ArrivalTime}}" name="ArrivalTime" readonly></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
      <h4><label><b>Departure Time:&nbsp;&nbsp;</b></label></h4>
    </td>
    <td><input type="text" class="form-control" value="{{bus.DepartureTime}}" name="DepartureTime" readonly></td>
  </tr>
  <tr>
    <td>
      <h4><label><b>Available Seats:&nbsp;&nbsp;</b></label></h4>
    </td>
    <td><input type="text" class="form-control" value="{{bus.Available}}" name="Available" readonly></td>
  </tr>

</table> -->


<table class="table">
  <thead>
    <tr>
      <th>No</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of cars">
      <td>p.CarId</td>
    </tr>
  </tbody>
</table>
